ion-content{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.Title{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(86, 86, 254);

}